on:
  workflow_dispatch:
jobs:
  ui-test-execution:
    runs-on: ubuntu-latest
    if: always()
    name: Execute ${{ matrix.platform }} platform
    strategy:
      matrix:
        platform: [ ios, android ]
      fail-fast: false
    steps:
      - name: Get next rc- or hotfix- branch
        id: get-next-branch
        uses: actions/github-script@v7
        with:
          script: |
            const prs = await github.rest.pulls.list({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'open'
            });
            const filtered = prs.data
              .map(pr => pr.head.ref)
              .filter(name => /^(rc|hotfix)-\d+\.\d+\.\d+$/.test(name));
            filtered.sort((a, b) => a.localeCompare(b, undefined, { numeric: true, sensitivity: 'base' }));
            console.log('Open PR branches:', filtered);
            return filtered[0] || 'main';

      - name: Dump github context to JSON
        run: |
          echo '${{ toJson(github) }}' > github_context.json

      - name: Upload github_context.json as artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-context
          path: github_context.json

      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name != 'main' && github.ref_name || fromJson(steps.get-next-branch.outputs.result) }}
